/**
 * id : file 20180621°0631 daftari/css/bibliography.css
 * summary : Styles for listing books
 * license : The MIT/X11 License
 * copyright : © 2018 - 2024 Norbert C. Maier
 * authors : ncm
 * encoding : UTF-8-without-BOM
 */

/**
 * ruleset 20150302°1221 'book reference tables'
 * summary : Book list with image(s) left and record fields right
 * todo : See issue 20180622°0221 'field block slips under icon'
 * prototypes :
 *    • https://www.trekta.biz/svn/demomatrix/trunk/pages/asm/3020books.html (pg 20130414°1254)
 *    • https://www.trekta.biz/svn/demomatrix/trunk/pages/c/books.html (pg 20150215°0511)
 *    • https://www.trekta.biz/svn/demomatrix/trunk/pages/cpp/cpp3050.html (pg 20120217°0744)
 *    • https://www.trekta.biz/svn/demomatrix/trunk/pages/gen/books.html (pg 20150221°1031)
 *    • https://www.trekta.biz/svn/demomatrix/trunk/pages/php/books.html (pg 20150302°1811)
 *    • https://www.trekta.biz/svn/demomatrix/trunk/pages/py/books.html (pg 20151111°0211)
 * note 20180621°0621 : text-indent 'hanging' did not work, so we use the negative-indent-positive-padding trick
 * chg 20211127°1911 provide uppercase versions
 * todo 20211127°1912 ELIMINATE lowercase versions
 */
div.tblBook3Reference,
div.TblBook3Reference { clear:both; padding-bottom:1.4em; }
div.tblBook3Reference img,
div.TblBook3Reference img { float:left; padding:0.3em; } /* rule 20150223°1841 */
div.tblBook3Reference table,
div.TblBook3Reference table { border-left:0.7em solid Transparent; }  /* rule 20211123°0931 make space between image and table */
div.tblBook3Reference table tr:last-child td,
div.TblBook3Reference table tr:last-child td { padding-bottom:1.4em; background-color:transparent; }
div.tblBook3Reference table td,
div.TblBook3Reference table td {
                       text-indent:-6.5em; padding-left:6.3em;
                        padding-top:0; padding-bottom:0; line-height:1.1em;
                         font-size:0.88em;
                          background-color:transparent;
}
div.tblBook3Reference table td.fldAuthor,
div.TblBook3Reference table td.fldAuthor { }
div.tblBook3Reference table td.fldAuthor::before,
div.TblBook3Reference table td.fldAuthor::before { content:"author\00a0\00a0\00a0\00a0: "; font-size:small; font-family:monospace,monospace; font-weight:normal; color:Gray; }
div.tblBook3Reference table td.fldTitle,
div.TblBook3Reference table td.fldTitle { font-weight:bold; }
div.tblBook3Reference table td.fldTitle::before,
div.TblBook3Reference table td.fldTitle::before { content:"title\00a0\00a0\00a0\00a0\00a0: "; font-size:small; font-family:monospace,monospace; font-weight:normal; color:Gray; }
div.tblBook3Reference table td.fldSubtitle,
div.TblBook3Reference table td.fldSubtitle { }
div.tblBook3Reference table td.fldSubtitle::before,
div.TblBook3Reference table td.fldSubtitle::before { content:"subtitle\00a0\00a0: "; font-size:small; font-family:monospace,monospace; color:Gray; }
div.tblBook3Reference table td.fldSummary,
div.TblBook3Reference table td.fldSummary { }
div.tblBook3Reference table td.fldSummary::before,
div.TblBook3Reference table td.fldSummary::before { content:"summary\00a0\00a0\00a0: "; font-size:small; font-family:monospace,monospace; color:Gray; }
div.tblBook3Reference table td.fldCopyright,
div.TblBook3Reference table td.fldCopyright { }
div.tblBook3Reference table td.fldCopyright::before,
div.TblBook3Reference table td.fldCopyright::before { content:"copyright\00a0: "; font-size:small; font-family:monospace,monospace; color:Gray; }
div.tblBook3Reference table td.fldLicense,
div.TblBook3Reference table td.fldLicense { }
div.tblBook3Reference table td.fldLicense::before,
div.TblBook3Reference table td.fldLicense::before { content:"license\00a0\00a0\00a0: "; font-size:small; font-family:monospace,monospace; font-weight:normal; color:Gray; }
div.tblBook3Reference table td.fldPublisher,
div.TblBook3Reference table td.fldPublisher { }
div.tblBook3Reference table td.fldPublisher::before,
div.TblBook3Reference table td.fldPublisher::before { content:"publisher\00a0: "; font-size:small; font-family:monospace,monospace; color:Gray; }
div.tblBook3Reference table td.fldEdition,
div.TblBook3Reference table td.fldEdition { }
div.tblBook3Reference table td.fldEdition::before,
div.TblBook3Reference table td.fldEdition::before { content:"edition\00a0\00a0\00a0: "; font-size:small; font-family:monospace,monospace; color:Gray; }
div.tblBook3Reference table td.fldYear,
div.TblBook3Reference table td.fldYear { }
div.tblBook3Reference table td.fldYear::before,
div.TblBook3Reference table td.fldYear::before { content:"year\00a0\00a0\00a0\00a0\00a0\00a0: "; font-size:small; font-family:monospace,monospace; color:Gray; }
div.tblBook3Reference table td.fldIsbn,
div.TblBook3Reference table td.fldIsbn { }
div.tblBook3Reference table td.fldIsbn::before,
div.TblBook3Reference table td.fldIsbn::before { content:"isbn\00a0\00a0\00a0\00a0\00a0\00a0: "; font-size:small; font-family:monospace,monospace; color:Gray; }
div.tblBook3Reference table td.fldPages,
div.TblBook3Reference table td.fldPages { }
div.tblBook3Reference table td.fldPages::before,
div.TblBook3Reference table td.fldPages::before { content:"pages\00a0\00a0\00a0\00a0\00a0: "; font-size:small; font-family:monospace,monospace; color:Gray; }
div.tblBook3Reference table td.fldPrize,
div.TblBook3Reference table td.fldPrize { }
div.tblBook3Reference table td.fldPrize::before,
div.TblBook3Reference table td.fldPrize::before { content:"prize\00a0\00a0\00a0\00a0\00a0: "; font-size:small; font-family:monospace,monospace; color:Gray; }
div.tblBook3Reference table td.fldSize,
div.TblBook3Reference table td.fldSize { }
div.tblBook3Reference table td.fldSize::before,
div.TblBook3Reference table td.fldSize::before { content:"size\00a0\00a0\00a0\00a0\00a0\00a0: "; font-size:small; font-family:monospace,monospace; color:Gray; }
div.tblBook3Reference table td.fldWebsite,
div.TblBook3Reference table td.fldWebsite { }
div.tblBook3Reference table td.fldWebsite::before,
div.TblBook3Reference table td.fldWebsite::before { content:"website\00a0\00a0\00a0: "; font-size:small; font-family:monospace,monospace; color:Gray; }
div.tblBook3Reference table td.fldReference,
div.TblBook3Reference table td.fldReference { }
div.tblBook3Reference table td.fldReference::before,
div.TblBook3Reference table td.fldReference::before { content:"reference\00a0: "; font-size:small; font-family:monospace,monospace; font-weight:normal; color:Gray; }
div.tblBook3Reference table td.fldNote,
div.TblBook3Reference table td.fldNote { }
div.tblBook3Reference table td.fldNote::before,
div.TblBook3Reference table td.fldNote::before { content:"note\00a0\00a0\00a0\00a0\00a0\00a0: "; font-size:small; font-family:monospace,monospace; color:Gray; }
div.tblBook3Reference table td.fldReview,
div.TblBook3Reference table td.fldReview { color:Chocolate; font-size:small; font-family: ComicJensWeb, sans-serif; }
div.tblBook3Reference table td.fldReview::before,
div.TblBook3Reference table td.fldReview::before { content:"review\00a0\00a0\00a0\00a0: "; font-size:small; font-family:monospace,monospace; color:Gray; }
div.tblBook3Reference table td.fldId,
div.TblBook3Reference table td.fldId {         color:Chocolate; font-size:small; font-family: ComicJensWeb, sans-serif; }
div.tblBook3Reference table td.fldId::before,
div.TblBook3Reference table td.fldId::before { content:"id\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0: "; font-size:small; font-family:monospace,monospace; color:Gray; }
div.tblBook3Reference table td.fldChain,
div.TblBook3Reference table td.fldChain {         color:Chocolate; font-size:small; font-family: ComicJensWeb, sans-serif; }
div.tblBook3Reference table td.fldChain::before,
div.TblBook3Reference table td.fldChain::before { content:"id\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0: "; font-size:small; font-family:monospace,monospace; color:Gray; }

/* eof */
